	body {
				padding-top: 30px;
			}
			
			.glyphicon {
				margin-bottom: 10px;
				margin-right: 10px;
			}
			
			small {
				height: 100px;
				width: 300px;
				display: block;
				line-height: 10px;
				color: #000000;
			}
			.containers{
			margin-top:-480px;
			margin-left:900px;
			}
			.customertext{
			height: 200px;
			width: 300px;
			
			}
			.animaltext{
			height: 200px;
			width: 300px;
			margin-top:250px;
			
			}
			
			.contact li {
				height: 50px;
				text-align: center;
				color: black;
			}
			
			.section1{
			width:500px;
			margin-left: 50px;
			}
			
			.section2{
			width:300px;
			margin-left: 150px;
			}
			
			.section2 li{
			
			margin-left: 10px;
			}
			
		.register
		{
		height:960px;
		width:700px;
		background-color: #fefed6;
		}
		.photo
		{
		height:280px;
		width:480px;
		margin-top:-100px;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:10px;
		
		}
			
		/* 고객 동물 등록 박스 css*/
	.well-sm {
	background-color: white;
	left:200px;
	margin-top:-95px;
	position: fixed;
		}
		
				
	.well-sm p {
    margin-left: -180px;
    position: fiex;
}
bootstrap.min.css:5
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
bootstrap.min.css:5
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


				
	