@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* .notice{ */
/* 	width: 75%; */
/* 	float: right; */
/* } */

table {
	border: 1px solid #d2d1d1;
	border-radius : 5px;
	position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.notice {
	width: 70% !important;
}

.table>thead>tr:

* {
    margin: 0;
    padding: 0;
    font-family: arial, "나눔고딕", NanumGothic;
}

.editReadWrap {
	padding: 10px;
}

tr {
	border-bottom: 1px solid #eee;
}

th{
	font-size: 130%;
	background-color: #f0efef;
	width: 120px;
}

td {
	vertical-align: middle !important;
	font-size: 110%;
	color: #777;
}

.contentwrap {
	margin:30px auto;
	width: 65%;
}

hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 1em 0;
	border-bottom-color: rgba(144, 144, 144, 0.25);
}

.tablediv {
	height: 73%;
}

.rowgruop {
	font-size: 150%;
	padding: 25px;
	text-align: right;
	position: relative;
	left: 0px;
	padding-bottom: 20px;
}

.title {
	text-align: left;
	font-size: 150%;
	padding: 10px 0 10px 0;
}

.payleft {
	width: 40%;
	height: 750px;
	float: left;
	margin-left: 7.5%;
	margin-top: 2%;
}

.payright {
	width: 40%;
	height: 750px;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
}

#payTable {
	text-align: left;
}