<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jrmapper">

<select id="selectByAnimalNum" parameterType="String" resultType="hashmap">
select ani.ANIMAL_NAME ANIMAL_NAME, 
		ani.ANIMAL_BREED ANIMAL_BREED, 
		pers.PER_NAME PER_NAME, 
		jry.JRYO_NUM JRYO_NUM, 
		jry.JRYO_DISEASES JRYO_DISEASES, 
		jry.SYMPTOM SYMPTOM, 
		jry.JRYO_DT JRYO_DT, 
		cus.CUS_NAME CUS_NAME
from ANIMAL ani, JINRYO jry, PERSON pers, CUSTOMER cus
where ani.ANIMAL_NUM = #{animalNum} and jry.PER_ID = pers.PER_ID and jry.ANIMAL_NUM = ani.ANIMAL_NUM and ani.CUS_TEL = cus.CUS_TEL
</select>

<select id="selectMonjinBig" resultType="string">
select DISTINCT PA_BIG from PAPER
</select>

<select id="selectMonjinMid" parameterType="string" resultType="string">
select DISTINCT PA_MID from PAPER where PA_BIG=#{bigMenus.getI}
</select>

<select id="selectMonjinSm" parameterType="hashmap" resultType="hashmap">
select PA_SM, PA_SELECT_NUM from PAPER where PA_BIG=#{bigMenu} and PA_MID=#{midMenu}
</select>

<select id="selectTxTrList" parameterType="string" resultType="string">
select DISTINCT TX_LARGE from ${value}
</select>

<select id="selectTxSmList" parameterType="string" resultType="hashmap">
select TX_SMALL, TX_PRICE from TX where TX_LARGE=#{txLargeMenu}
</select>
</mapper>