<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jrmapper">

<select id="selectByAnimalNum" parameterType="String" resultType="hashmap">
select ani.ANIMAL_NAME ANIMAL_NAME, 
		ani.ANIMAL_BREED ANIMAL_BREED, 
		pers.PER_NAME PER_NAME, 
		jry.JRYO_NUM JRYO_NUM, 
		jry.JRYO_DISEASES JRYO_DISEASES, 
		jry.SYMPTOM SYMPTOM, 
		jry.JRYO_DT JRYO_DT, 
		cus.CUS_NAME CUS_NAME,
		ani.ANIMAL_NUM ANIMAL_NUM
from ANIMAL ani, JINRYO jry, PERSON pers, CUSTOMER cus
where ani.ANIMAL_NUM = #{animalNum} and jry.PER_ID = pers.PER_ID and jry.ANIMAL_NUM = ani.ANIMAL_NUM and ani.CUS_TEL = cus.CUS_TEL
</select>

<select id="selectMonjinBig" resultType="string">
select DISTINCT PA_BIG from PAPER
</select>

<select id="selectMonjinMid" parameterType="string" resultType="string">
select DISTINCT PA_MID from PAPER where PA_BIG=#{bigMenus.getI}
</select>

<select id="selectMonjinSm" parameterType="hashmap" resultType="hashmap">
select PA_NUM, PA_SM, PA_SELECT_NUM from PAPER where PA_BIG=#{bigMenu} and PA_MID=#{midMenu}
</select>

<select id="selectTxTrList" parameterType="string" resultType="string">
select DISTINCT TX_LARGE from ${value}
</select>

<select id="selectTxSmList" parameterType="string" resultType="hashmap">
select TX_NUM, TX_SMALL, TX_PRICE from TX where TX_LARGE=#{txLargeMenu}
</select>

<select id="selectRxList" resultType="hashmap">
select   distinct(s.stock_name) stock_name, 
			g.MEDI_COMPONENTKOR MEDI_COMPONENTKOR, 
			g.MEDI_COMPONENTENG MEDI_COMPONENTENG, 
			s.STOCK_COUNT STOCK_COUNT,
			g.goods_price_out goods_price_out
from stock s, goods g
where (s.stock_name=g.stock_name and not s.stock_count=0) and g.goods_use='동물용의약품'
</select>

<select id="selectJindanList" parameterType="string" resultType="hashmap">
select * from DISEASE where DI_NAME like '%${value}%'
</select>

<insert id="insertJinryo" parameterType="myproj.jinryo.dto.JinryoVO">
insert into jinryo values(
	SEQ_JINRYO.nextval, 
	#{per_id},
	#{jryo_diseases},
	#{symptom},
	sysdate,
	#{jryo_memo},
	#{animal_num},
	#{jryo_price},
	#{jryo_tx},
	#{jryo_rx}
)
</insert>
<insert id="insertVital" parameterType="myproj.jinryo.dto.JinryoVitalVO">
	<selectKey keyProperty="jryo_num" resultType="string" order="BEFORE">
		SELECT SEQ_JINRYO.CURRVAL FROM DUAL
	</selectKey>

	INSERT INTO vital VALUES(
		SEQ_JINRYO_VITAL.nextval,
		#{jryo_num},
		#{vt_weight},
		#{vt_temperature},
		#{vt_systolic_blood},
		#{vt_diastolic_blood},
		#{vt_heart_rate},
		#{vt_breathing_rate}
	)
</insert>

<insert id="insertMonjin" parameterType="hashmap">
	<selectKey keyProperty="jryo_num" resultType="string" order="BEFORE">
		SELECT SEQ_JINRYO.CURRVAL FROM DUAL
	</selectKey>
	
	INSERT INTO PAPER_HISTORY VALUES(
		SEQ_PAPER_HISTORY.nextval,
		#{num},
		#{jryo_num},
		#{value}
	)
</insert>
<insert id="insertImage" parameterType="hashmap">
	<selectKey keyProperty="jryo_num" resultType="string" order="BEFORE">
		SELECT SEQ_JINRYO.CURRVAL FROM DUAL
	</selectKey>
	
	INSERT INTO jinryo_image VALUES(
		SEQ_JINRYO_IMG.nextval,
		#{jryo_num},
		#{name},
		#{fakeName}
	)
</insert>

<!-- 민정 -->
<!-- 진료테이블의 기본적인 내용 모두 가져와라 -->
<select id="selectJinryoTable" parameterType="String" resultType="hashmap">
SELECT p.per_name, a.animal_name, c.jryo_num, c.jryo_diseases, c.symptom, c.jryo_dt, c.jryo_tx, c.jryo_rx
FROM jinryo c, person p, animal a
WHERE jryo_num = #{jryo_num}
AND a.animal_num = c.animal_num
AND p.per_id = c.per_id
</select>

<select id="selectMoonjin" parameterType="String" resultType="hashmap">
SELECT p.pa_sm, h.pa_h_history
FROM paper_history h, paper p
WHERE jryo_num = #{jryo_num}
AND p.pa_num = h.pa_num
</select>

<select id="selectChartImage" parameterType="String" resultType="hashmap">
select * from JINRYO_IMAGE where JRYO_NUM=#{jryo_num}
</select>

<select id="selectVital" parameterType="String" resultType="hashmap">
SELECT * FROM vital WHERE jryo_num = #{jryo_num}
</select>

<select id="selectTxListByNum" parameterType="String" resultType="hashmap">
select TX_NUM,TX_LARGE,TX_SMALL,TX_PRICE from TX where TX_NUM=#{txNum}
</select>

<select id="selectselectMyReadyList" parameterType="String" resultType="hashmap">
select * from RESERVATION 
where PER_ID=#{per_id} and to_char(COUNTER_DATE_TIME,'yyyymmdd')=to_char(#{today}) and COUNTER_STATE='o' and JINRYO_STATE='x'
</select>

<select id="selectAnimalInfoByAnimalNum" parameterType="String" resultType="hashmap">
select * from ANIMAL where ANIMAL_NUM=#{animalNum}
</select>
</mapper>